<div class="page">

  <div class="login-card">

    <h2>Sign in to Skill-Manager</h2>
    <p class="sub-text">Use your Mphasis Credentials to Continue</p>

   

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <!-- EMAIL -->
      <label>Username</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Enter your email"
        [class.error]="email?.touched && email?.invalid"
      >

      <div class="error-text" *ngIf="email?.touched && email?.invalid">
        Enter valid email
      </div>

      <!-- PASSWORD -->
      <label>Password</label>
      <div class="password-field">

        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter password"
          [class.error]="password?.touched && password?.invalid"
        >

        <i
          class="fa-solid"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePassword()"
        ></i>

      </div>

      <div class="error-text" *ngIf="password?.touched && password?.invalid">
        Password is required
      </div>

      <!-- LOGIN BUTTON -->
      <button type="submit" class="login-btn" [disabled]="isLoading">
        <span *ngIf="!isLoading">Login</span>
        <span *ngIf="isLoading" class="spinner"></span>
      </button>

      <!-- ACTION BUTTONS -->
      <div class="action-row">
        <button type="button" routerLink="/signup" class="outline-btn">
          Register
        </button>

        
      </div>

      <!-- FORGOT -->
      <div class="forgot">
        Forgot password?
      </div>

    </form>

  </div>

</div>