<div class="page">

  <div class="signup-card">

    <h2>Create Your Account</h2>
    <p class="sub-text">Register to access Skill Manager</p>

    <form [formGroup]="signupForm" (ngSubmit)="signup()">

      <!-- USERNAME -->
      <label>Username</label>
      <input
        type="text"
        formControlName="username"
        placeholder="Enter your username"
        [class.error]="signupForm.get('username')?.touched && signupForm.get('username')?.invalid"
      >

      <div class="error-text" *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.invalid">
        Username is required
      </div>

      <!-- EMAIL -->
      <label>Email</label>
      <input
        type="email"
        formControlName="email"
        placeholder="Enter your email"
        [class.error]="signupForm.get('email')?.touched && signupForm.get('email')?.invalid"
      >

      <div class="error-text" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
        Enter valid email
      </div>

      <!-- PASSWORD -->
      <label>Password</label>
      <div class="password-field">

        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Create a password"
          [class.error]="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"
        >

        <i
          class="fa-solid"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="togglePassword()"
        ></i>

      </div>

      <div class="error-text" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
        Password is required
      </div>

      <!-- SIGNUP BUTTON -->
      <button type="submit" class="signup-btn" [disabled]="isLoading">

        <span *ngIf="!isLoading">Sign Up</span>
        <span *ngIf="isLoading" class="spinner"></span>

      </button>

      <!-- LOGIN REDIRECT -->
      <p class="login-redirect">
        Already registered?
        <a routerLink="/" class="btn-link">Login</a>
      </p>

    </form>

  </div>

</div>